<!DOCTYPE html>
<html lang="en">

<head>
  <title> Mobile World</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart Page</title>
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/css/popup.css">
  <link rel="stylesheet" href="../static/css/sort.css">
  <link rel="stylesheet" href="../static/css/cart.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="../static/fonts/fontawesome-free-6.4.2-web/css/all.min.css">
  <!--font-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500&family=Roboto:wght@300;400;500&display=swap">

</head>

<body>
  <div class="all">
    <!-- Header Begin -->
    <header class="header">
      <div class="grid">
        <nav class="header__navbar">
          <ul class="header__navbar-list">
            <img src="../static/images/logo.png" class="logo" alt="Mobile World">
          </ul>

          <ul class="header__navbar-list">
            <li class="header__navbar-item"> Phone </li>
            <li class="header__navbar-item"> Tablet </li>
            <li class="header__navbar-item"> Laptop </li>
            <li class="header__navbar-item"> TV </li>
            <li class="header__navbar-item"> Accessories </li>
          </ul>

          <ul class="header__navbar-list">
            <li class="header__navbar-item header__navbar-item--has-notify">
              <a href="" class="authentication">
                Sign in <span class="slash-space">/</span>
              </a>
              <a href="" class="authentication">
                Sign up
              </a>
            </li>
            <li class="header__navbar-item">
              <a href="" class="icons">
                <a href="" class="header_navbar-icon-link" id="search-icon-link">
                  <i class="header_navbar-icon fa-solid fa-magnifying-glass"></i>
                </a>

                <a href="" class="header_navbar-icon-link">
                  <i class="header_navbar-icon fa-solid fa-cart-arrow-down"></i>
                </a>

                <a href="" class="header_navbar-icon-link">
                  <i class="header_navbar-icon fa-regular fa-user"></i>
                </a>
              </a>
            </li>
          </ul>
        </nav>
      </div>
  </div>
  </header>
  <!-- Header End -->

  <!-- Progress Bar Begin -->
  <div class="stepper-wrapper">
    <div class="stepper-item completed">
      <div class="step-counter">1</div>
      <div class="step-name">Check Card</div>
    </div>
    <div class="stepper-item completed">
      <div class="step-counter">2</div>
      <div class="step-name">Shipment Details</div>
    </div>
    <div class="stepper-item active">
      <div class="step-counter">3</div>
      <div class="step-name">Select Payment</div>
    </div>
    <div class="stepper-item">
      <div class="step-counter">4</div>
      <div class="step-name">Complete Order</div>
    </div>
  </div>
  <!-- Progress Bar End -->

  <!-- Payment Section Start -->
  <div class="paymet-container">
    <div class="bank">
        <div class="bank-full">
          <a href="cart4.html"><img src="../static/images/napas.png" alt="" class="bank-logo"></a>
          <span class="bank-number">************0501</span>
        </div>
        <div class="bank-full">
          <a href="cart4.html"><img src="../static/images/visa.svg.webp" alt="" class="bank-logo"></a>
          <span class="bank-number">************0501</span>
        </div>
        <div class="bank-half">
          <a href="cart4.html"><img src="../static/images/momo.png" alt="" class="bank-logo"></a>
          <span class="bank-number">MOMO</span>
        </div>
        <div class="bank-half">
          <a href="cart4.html"><img src="../static/images/vnpay.jpeg" alt="" class="bank-logo"></a>
          <span class="bank-number">VNPAY</span>
        </div>
        <div class="bank-half">
          <a href="cart4.html"><img src="../static/images/zalo.webp" alt="" class="bank-logo"></a>
          <span class="bank-number">ZALOPAY</span>
        </div>
        <div class="bank-half">
          <a href="cart4.html"><img src="../static/images/viettelpay.jpeg" alt="" class="bank-logo"></a>
          <span class="bank-number">VIETTEL PAY</span>
        </div>
    </div>
    <div class="qrcode">
        <a href="cart4.html"><img src="../static/images/qr.png" alt="" class="qr"></a>
        <span class="qr-text">SCAN TO PAY</span>
    </div>
  </div>
  <!-- Payment Section End -->

  <footer class="footer"> </footer>
  </div>

</body>
</html>