<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cart Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/home.css}">
  <link rel="stylesheet" th:href="@{/css/popup.css}">
  <link rel="stylesheet" th:href="@{/css/sort.css}">
  <link rel="stylesheet" th:href="@{/css/cart.css}">

  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css}">
  <link rel="stylesheet" th:href="@{/css/fonts/fontawesome-free-6.4.2-web/css/all.min.css}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css" rel="stylesheet"
        type="text/css"/>
  <!--font-->
  <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500&family=Roboto:wght@300;400;500&display=swap}">

</head>

<body>
  <div class="all">
    <!-- Header Begin -->
    <header class="header">
      <div class="grid">
        <nav class="header__navbar">
          <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" class="logo" alt="Mobile World">
          </a>

          <ul class="header__navbar-list">
            <li class="header__navbar-item"> Phone </li>
            <li class="header__navbar-item"> Tablet </li>
            <li class="header__navbar-item"> Laptop </li>
            <li class="header__navbar-item"> TV </li>
            <li class="header__navbar-item"> Accessories </li>
          </ul>

          <ul class="header__navbar-list">
            <li class="header__navbar-item header__navbar-item--has-notify">
              <a th:href="@{/login}" class="authentication">
                Sign in <span class="slash-space">/</span>
              </a>
              <a th:href="@{/signup}" class="authentication">
                Sign up
              </a>
            </li>
            <li class="header__navbar-item">
              <a href="" class="icons">
                <a th:href="@{/search}" class="header_navbar-icon-link" id="search-icon-link">
                  <i class="header_navbar-icon fa-solid fa-magnifying-glass"></i>
                </a>

                <a th:href="@{/cart}" class="header_navbar-icon-link">
                  <i class="header_navbar-icon fa-solid fa-cart-arrow-down"></i>
                </a>

                <a th:href="@{/profile}" class="header_navbar-icon-link">
                  <i class="header_navbar-icon fa-regular fa-user"></i>
                </a>
              </a>
            </li>
          </ul>
        </nav>
      </div>
  </div>
  </header>
  <!-- Header End -->

  <!-- Progress Bar Begin -->
  <div class="stepper-wrapper">
    <div class="stepper-item completed">
      <div class="step-counter">1</div>
      <div class="step-name">Check Card</div>
    </div>
    <div class="stepper-item active">
      <div class="step-counter">2</div>
      <div class="step-name">Shipment Details</div>
    </div>
    <div class="stepper-item">
      <div class="step-counter">3</div>
      <div class="step-name">Select Payment</div>
    </div>
    <div class="stepper-item">
      <div class="step-counter">4</div>
      <div class="step-name">Complete Order</div>
    </div>
  </div>
  <!-- Progress Bar End -->

  <div style="display: flex; justify-content: space-between; padding-left: 5%; padding-right: 5%;">
  <!-- Items List Begin -->
    <div class="items-list">
      <!-- Shopping Amount Line Begin -->
      <div class="card-brief">Your Shopping Card (<span th:text="${productCount}">2</span> Products)</div>
      <!-- Shopping Amount Line End -->
      <div class="item" th:each="item : ${items}">
        <div class="buttons">
          <span class="delete-btn"></span>
          <span class="like-btn"></span>
        </div>

        <div class="image">
          <img th:src="@{../static/images/iphone-15.webp}" alt="" />
        </div>

        <div class="description">
          <span style="font-size: 3rem;" th:text="${item.name}">Iphone 15 Pro Max</span>
          <span th:text="${item.details}">6/256GB Black</span>
          <div>
            <div class="quantity-disabled">1</div>
          </div>
        </div>

        <div class="price-action">
          <span style="font-size: 2rem; color: red;" th:text="${item.price}">30.000.000 đ</span>
          <span style="color:cornflowerblue;" th:text="${item.discount}">-3.000.000 đ</span>
          <span th:text="${item.discountStatus}">Discounted</span>
        </div>
      </div>
    </div>
  <!-- Items List End -->

  <div style="border-left: 2px solid #ccc; height: 90vh; margin: 50px 15px 15px 15px;"></div>

  <!-- Address Form Begin -->
  <div style="width: 40%;" class="items-list">
    <div class="card-brief">Order Overview</div>
    <p style="font-size: 2rem; text-decoration: underline;">Delivery Information</p>
    <div class="ship-info">
    <label for="receiver">Receiver:</label>
    <input type="text" id="receiver" name="receiver" placeholder="Your name...">
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" placeholder="Your address...">
    <label for="city">City:</label>
    <input type="text" id="city" name="city" placeholder="Your city...">
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" placeholder="Your phone...">
    <p class="delivery-time">✦ Estimated time: 2-3 days</p>
    <p style="display: inline-block; font-size: 2rem; text-decoration: underline;">Total price after VAT</p> 
    <p style="display: inline-block; font-size: 2rem; color: red; float: right;">90.000.000 đ</p>
    <p></p>
    <p style="display: inline-block; font-size: 1.75rem; color: #585858;">Discounted</p> 
    <p style="display: inline-block; font-size: 1.75rem; color: cornflowerblue; float: right;">-6.000.000 đ</p>
    </div>
  </div>
  <!-- Address Form End -->
  </div>
  <!-- Confirm Button Start -->
  <div class="items-list">
    <a th:href="@{/cart3}">
      <div class="confirm-button" onclick="window.location.href = 'card2.html';">Purchase</div>
    </a>
  </div>
  <!-- Confirm Button End -->

  <footer class="footer"> </footer>
  </div>

</body>
</html>