<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cart Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/home.css}">
  <link rel="stylesheet" th:href="@{/css/popup.css}">
  <link rel="stylesheet" th:href="@{/css/sort.css}">
  <link rel="stylesheet" th:href="@{/css/cart.css}">

  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css}">
  <link rel="stylesheet" th:href="@{/css/fonts/fontawesome-free-6.4.2-web/css/all.min.css}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css" rel="stylesheet"
        type="text/css"/>
  <!--font-->
  <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500&family=Roboto:wght@300;400;500&display=swap}">

</head>

<body>
  <div class="all">
    <!-- Header Begin -->
    <header class="header">
      <div class="grid">
        <nav class="header__navbar">
          <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" class="logo" alt="Mobile World">
          </a>

          <ul class="header__navbar-list">
            <li class="header__navbar-item"> Phone </li>
            <li class="header__navbar-item"> Tablet </li>
            <li class="header__navbar-item"> Laptop </li>
            <li class="header__navbar-item"> TV </li>
            <li class="header__navbar-item"> Accessories </li>
          </ul>

          <ul class="header__navbar-list">
            <li class="header__navbar-item header__navbar-item--has-notify">
              <a th:href="@{/login}" class="authentication">
                Sign in <span class="slash-space">/</span>
              </a>
              <a th:href="@{/signup}" class="authentication">
                Sign up
              </a>
            </li>
            <li class="header__navbar-item">
              <a href="" class="icons">
                <a th:href="@{/search}" class="header_navbar-icon-link" id="search-icon-link">
                  <i class="header_navbar-icon fa-solid fa-magnifying-glass"></i>
                </a>

                <a th:href="@{/cart}" class="header_navbar-icon-link">
                  <i class="header_navbar-icon fa-solid fa-cart-arrow-down"></i>
                </a>

                <a th:href="@{/profile}" class="header_navbar-icon-link">
                  <i class="header_navbar-icon fa-regular fa-user"></i>
                </a>
              </a>
            </li>
          </ul>
        </nav>
      </div>
  </div>
  </header>
  <!-- Header End -->

  <!-- Progress Bar Begin -->
  <div class="stepper-wrapper">
    <div class="stepper-item completed">
      <div class="step-counter">1</div>
      <div class="step-name">Check Card</div>
    </div>
    <div class="stepper-item completed">
      <div class="step-counter">2</div>
      <div class="step-name">Shipment Details</div>
    </div>
    <div class="stepper-item completed">
      <div class="step-counter">3</div>
      <div class="step-name">Select Payment</div>
    </div>
    <div class="stepper-item completed">
      <div class="step-counter">4</div>
      <div class="step-name">Complete Order</div>
    </div>
  </div>
  <!-- Progress Bar End -->

  <!-- Success Message Start -->
  <div class="success-container">
    <p class="message">Purchase successfully</p>
    <div class="button-close" >
      <a th:href="@{/}">
        <div>Close</div>
      </a>
    </div>
  </div>
  <!-- Success Message End -->

  <footer class="footer"> </footer>
  </div>

</body>
</html>