<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <link rel='stylesheet' type="text/css" th:href='@{/css/style.css}'>
    <script>
        window.onload = function() {
            let editProfileButton = document.getElementById("editProfileButton");
            let deleteAccountButton = document.getElementById("deleteAccountButton");
            
            let deletePopup = document.querySelector(".deletePopup");
            let closePopup = document.querySelectorAll(".closePopup");

            editProfileButton.addEventListener("click", function () {
                window.location.href = "/profile-edit"
            })

            deleteAccountButton.addEventListener("click", function () {
                deletePopup.classList.add("show");
            });

            closePopup.forEach(function(element) {
                element.addEventListener("click", function () {
                    deletePopup.classList.remove("show");
                });
            })
        };
    </script>
</head>
<body class="container">
    <div id="profileContainer" th:object="${userTemplate}">
        <p class="formTitle">My account</p>
        
        <div class="infoLine">
            <p class="infoLabel">ID</p>
            <p disabled type="text" id="userId" class="infoContent" th:text="${user.id}">
        </div>

        <div class="infoLine">
            <p class="infoLabel">First name</p>
            <p disabled type="text" id="userFname" class="infoContent" th:text="*{fname}">
        </div>

        <div class="infoLine">
            <p class="infoLabel">Last name</p>
            <p disabled type="text" id="userLname" class="infoContent" th:text="*{lname}">
        </div>

        <div class="infoLine">
            <p class="infoLabel">Date of Birth</p>
            <p disabled type="date" id="userDob" class="infoContent" th:text="*{dob}">
        </div>

        <div class="infoLine">
            <p class="infoLabel">Phone number</p>
            <p disabled type="text" id="userPhone" class="infoContent" th:text="*{phone}">
        </div>

        <div class="infoLine">
            <p class="infoLabel">Email</p>
            <p disabled type="email" id="userEmail" class="infoContent" th:text="*{email}">
        </div>

        <div class="infoLine">
            <p class="infoLabel">Address</p>
            <p disabled type="text" id="userAddress" class="infoContent" th:text="*{address}">
        </div>

        <div id="editProfileContainter">
            <button type="button" id="deleteAccountButton">Delete account</button>
            <button type="button" id="editProfileButton">Edit profile</button>
            <a href="logout"></a>
        </div>
    </div>

    <div class="deletePopup">
        <div class="deletePopupContent">
            <img src="../static/images/warning.png" alt="warning" width="120" height="120">
            <h1 id="deleteTitle">Delete Account</h1>
            <p id="deleteDesc">This will delete your account from our system. Are you really sure?</p>
            <div id="deleteOptionsContainer">
                <button class="closePopup" id="confirmDeleteAccount">Delete Account</button>
                <button class="closePopup" id="cancelmDeleteAccount">Cancel</button>
            </div>
        </div>
    </div>

</body>
</html>